/* your css here */
ol {
    list-style-type: none
}

.sans-serif {
    font-family: Sans-Serif;
}

p, .headerParagraph {
    line-height: 1.5;
    quotes: "\201C" "\201D" "\2018" "\2019";;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: 20%;
    padding-right: 20%;
  }
.companyHeader {
    display: inline;
}
.nav-item {
    padding-left: 20%;
    padding-right: 20%;
}
.nav {
    height: 70px;
    width: 100%;
    border-color: gray;
    border-width: 4px;
}

  li a:hover, h1:hover {
    color:gray;
  }

  a, a:link { 
    text-decoration: none; 
    color: black;
}
    a:visited {
        border-color: black;

    }

  .body {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

.title {
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    resize: none;
}

textarea {
    resize: none;
  }
.section {
    padding-left: 70px;
    padding-bottom: 20px;
}

.enterContact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.enter {
    padding: 7px;
}

.CV {
    border: 20px solid #00A4BD;
}

.headerParagraph{
    text-align: center;
}

.date {
    text-align: center;
    color: gray;
}

.cvDate {
    color: gray;
    display: inline;
}

.content, .gridContent, .shannonContent {
    padding-left: 20%;
    padding-right: 20%;
    
}

.shannonContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.workExperienceListItem {
    padding-bottom: 30px;
}

#youtubeLink {
    display: none;
}

@media only screen and (max-width: 600px) {
    .shannonContent {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .section {
        padding-left: 0px;
        padding-bottom: 20px;
    }
    #youtube {
        display: none;
    }

    #youtubeLink {
        display: block;
        color: blue;
    }


}

@media print {
    #youtube {
        display: none;
    }

}

p, a, label, button, h1, h2, h3, h4, h5, h6 {
    color: #161925ff;
}



button {
    background-color: #406e8eff;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 20%;
  padding-right: 20%;
}

.image-block {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.image-block img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  text-align:center;

}


/* CSS HEX 
--raisin-black: #161925ff;
--delft-blue: #23395bff;
--ucla-blue: #406e8eff;
--powder-blue: #8ea8c3ff;
--mint-green: #cbf7edff;

CSS HSL
--raisin-black: hsla(228, 25%, 12%, 1);
--delft-blue: hsla(216, 44%, 25%, 1);
--ucla-blue: hsla(205, 38%, 40%, 1);
--powder-blue: hsla(211, 31%, 66%, 1);
--mint-green: hsla(166, 73%, 88%, 1);

SCSS HEX 
$raisin-black: #161925ff;
$delft-blue: #23395bff;
$ucla-blue: #406e8eff;
$powder-blue: #8ea8c3ff;
$mint-green: #cbf7edff;

SCSS HSL
$raisin-black: hsla(228, 25%, 12%, 1);
$delft-blue: hsla(216, 44%, 25%, 1);
$ucla-blue: hsla(205, 38%, 40%, 1);
$powder-blue: hsla(211, 31%, 66%, 1);
$mint-green: hsla(166, 73%, 88%, 1);

SCSS RGB 
$raisin-black: rgba(22, 25, 37, 1);
$delft-blue: rgba(35, 57, 91, 1);
$ucla-blue: rgba(64, 110, 142, 1);
$powder-blue: rgba(142, 168, 195, 1);
$mint-green: rgba(203, 247, 237, 1);

SCSS Gradient 
$gradient-top: linear-gradient(0deg, #161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);
$gradient-right: linear-gradient(90deg, #161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);
$gradient-bottom: linear-gradient(180deg, #161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);
$gradient-left: linear-gradient(270deg, #161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);
$gradient-top-right: linear-gradient(45deg, #161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);
$gradient-bottom-right: linear-gradient(135deg, #161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);
$gradient-top-left: linear-gradient(225deg, #161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);
$gradient-bottom-left: linear-gradient(315deg, #161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);
$gradient-radial: radial-gradient(#161925ff, #23395bff, #406e8eff, #8ea8c3ff, #cbf7edff);*/
